body {
  font-family: font-family: 'Comfortaa', cursive;
  background-color: #FCFCFF;
  color: black;
  line-height: 1.7em;
}

a.a{
  text-decoration: none;
  color: grey;
}

.strong{
  color: grey;
}

.dark-mode {
  background-color: #29292D;
  color: #efefef;
}

input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  background: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 300ms linear;
}

input:checked[type="checkbox"] {
  background: #4D4D4D;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #efefef;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 300ms linear;
}

input:checked[type="checkbox"]::before {
  left: 40px;
}

.starter{
  text-align: justify;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.zwetop{
  background-color: white;
  color: #000;
  border-bottom: 1px solid #efefef;
}